
/*home*/

.home {
    background-image: url('background-mobile.jpg');
        background-size: cover;
    height: 100vh;

}

@media screen and (min-width: 640px) {
    .home {
        background-image: url('background.jpg');
        background-size: cover;
        height: 100vh;
    }
}


/*about*/

.about_container {
    margin-top: 3%;
    width: 100%;
}

.about_container .fa-2x {
    display: block;
    width: 100%;
    color: white;
}

@media screen and (min-width: 640px) {
    .about_container .fa-2x {
        display: inline-block;
        width: 80px;
        color: white;
    }
}

.contact_span {
    display: block;
    padding: 5% 0% 10% 0%;
    text-align: center;
}

@media screen and (min-width: 640px) {
    .contact_span {
        display: inline-block;
        padding: 0% 0% 10% 0%;
    }
}

.icon_container {
    margin: 3% 0%;
    width: 94%;
}

@media screen and (min-width: 640px) {
    .icon_container {
        margin: 3% auto;
        width: 80%;
    }
}

.icon_container article {
    float: left;
}

.icon_container .fa-3x {
    margin: 4% 0%;
    color: #595959;
}

.education {
    width: 80%;
    padding: 5% 10%;
}

.education ul {
    padding: 0% 5%;
    width: 90%;
    margin: 5% 0% 10% 0%;
}

@media screen and (min-width: 640px) {
    .education ul {
        padding: 0% 10%;
        width: 80%;
        margin: 5% 0% 10% 0%;
    }
}


/*skills*/

.skills {
    background: #f2f2f2;
    padding-top: 150px;
    min-height: 100vh;
}

.skills_container {
    width: 90%;
    margin: auto;
    padding-top: 5%;
}

@media screen and (min-width: 640px) {
    .skills_container {
        width: 60%;
        margin: auto;
        padding-top: 5%;
    }
}

.skills_container p {
    width: 80%;
    margin: auto;
}

.skills_list {
    line-height: 1.5em;
    padding: 5% 0%;
    margin-left: 5%;
    font-size: 18px;
}

@media screen and (min-width: 640px) {
    .skills_list {
        line-height: 1.5em;
        margin-top: 4%;
        margin-left: 15%;
        padding: 0% 0% 5% 0%;
        font-size: 14px;
    }
}

.skills_container .svg-inline--fa {
    color: #e6b800;
}

.fa-check {
    padding-right: 10px;

}
.accordion {
    width: 100%;
    border: none;
    outline: none;
    background: #e6b800;
}


@media screen and (min-width: 640px) {
    .accordion {
        width: 80%;
        margin: auto;
        height: 50px;
        display: block;
        background: #e6b800;
        color: black;
        border: none;
        outline: none;
    }
}

.accordion_header {
    font-size: 2em;
    line-height: 2em;
    padding: 0% 2%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.accordion_icon {
    float: right;
    font-size: 2em;
    line-height: 2em;
    padding: 0% 2%;
}

.active_panel, .accordion:hover {
    background: #ffcc00;
}

.showbutton {
    display: inline-block;
}

.hidebutton {
    display: none;
}

.panel {
    display: none;
    margin-bottom: 5%;
}

.experience {
    padding: 5%;
}

/*projects*/

.tab_links {
    width: calc(80% + 20px);;
    margin: auto;
    background: #181b1e;
    margin-top: 5%;
}

.tab_links button {
    border: none;
    outline: none;
    display: inline-block;
    width: 50%;
    height: 60px;
    padding: 5% 0% 6% 0%;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width: 640px) {
    .tab_links button {
        border: none;
        outline: none;
        display: inline-block;
        width: 50%;
        height: 50px;
        padding: 0%;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.tab_links a:hover {
    background: #181b1e;
    color: white;
}

.active_tab {
    background: #181b1e;
    color: white;
}

.inactive_tab {
    background: #444d55;
    color: #d5dadd;
}

.tab_content {
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
    border: solid 10px #181b1e;
}

.project_tab_content {
    display: block;
}

.script_tab_content {
    display: none;
}

.projects_container {
    width: 100%;
    padding-top: 5%;
}

@media screen and (min-width: 640px) {
    .projects_container {
        width: 80%;
        margin: auto;
        padding-top: 5%;
    }
}

.project_list {
    width: 80%;
    padding: 2% 6% 0% 15%;
}

.project_list li {
    line-height: 1.5em;
    font-size: 14px;
}

 .projects_container .fa-5x {
    display: none;
}

@media screen and (min-width: 640px) {
    .projects_container .fa-5x {
        display: block;
        padding: 35% 0% 0% 15%;
        float: right;
        color: black;
    }
}

.project_link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    padding-right: 20px;
    text-transform: uppercase;
    color: black;
}

